<div class="profile">
    <!-- <div class="action" [class]="{'active' : profileAction}">
        <div class="btn" (click)="toggleAction($event)"><i class="fi fi-rr-menu-burger"></i></div>
        <div class="drop">
            <span (click)="global.copyToClipboard(profileUrl, 'Profile Link')"><i class="fi fi-rr-share"></i>Share Profile</span>
            <span (click)="global.navigate('/setting')"><i class="fi fi-rr-settings-sliders"></i>Setting</span>
            <span><i class="fi fi-rr-exclamation"></i>Report User</span>
        </div>
    </div> -->
    <div class="coverimage" [style]="{'background-image' : 'url(' + profileData.profile_img + ')'}">
        <div class="name">
            <div class="shadow"></div>
            <div class="text">{{ profileData.username }}</div>
            <div class="desc">PMR {{ global.calculatePMR(profileData.gpt) }}</div>
        </div>
    </div>
    <div class="favourite">
        <span [class]="{'active' : profileData.favourite}" (click)="global.comingSoon()">
            @if(profileData.favourite)
            {
                <i class="fi fi-sr-star"></i>
            }
            @else
            {
                <i class="fi fi-rr-star"></i>
            }
        </span>
    </div>
    <div class="user">
        <div class="image" [style]="{'background-image' : 'url(' + profileData.profile_img + ')'}"></div>
        <div class="name" (click)="global.copyToClipboard(profileData.id, 'Player ID')">
            <span>{{ profileData.name }}</span>
            <div>Player ID : {{ profileData.id }}<i class="fi fi-rr-clone"></i></div>
        </div>
    </div>
    <div class="point">
        <div class="box" (click)="gptInformation = true">
            <span>GPT</span>
            <div>{{ profileData.gpt }}</div>
            <i class="fi fi-rr-info"></i>
        </div>
        <div class="box" (click)="rgptInformation = true">
            <span>R-GPT</span>
            <div>{{ profileData.rgpt }}</div>
            <i class="fi fi-rr-info"></i>
        </div>
    </div>
    <div class="other">
        <div class="cover">
            <div class="box">
                <span>Record<br />Games</span>
                <div>0</div>
            </div>
            <div class="box">
                <span>Win<br />Games</span>
                <div>0</div>
            </div>
            <div class="box">
                <span>Lose<br />Games</span>
                <div>0</div>
                <!-- <i class="fi fi-rr-arrow-small-right"></i> -->
            </div>
        </div>
    </div>
    <!-- <div class="stats">
        <div class="btn">
            <i class="fi fi-rr-chart-histogram"></i>
            Check Player Stats
            <span>
                <i class="fi fi-rr-angle-circle-right"></i>
            </span>
        </div>
    </div> -->
    <div class="match">
        <div class="title">Game History</div>
        <div class="list">
            @for (data of sampleHistory; track data.id)
            {
                <div class="box" (click)="global.navigate('/game?id=' + data.id)">
                    <div class="head">
                        <div class="status" [class]="data.status">{{ data.status }}</div>
                        <div class="text">
                            <span>{{ data.datetime }}</span>
                            <div>{{ data.location }}</div>
                        </div>
                    </div>
                    <div class="scoring">Pickleball - {{ data.scoring }}</div>
                    <div class="line"></div>
                    <div class="result">
                        <div class="row">
                            <div class="player">
                                <div class="pbox">H : {{ data.home.player[0] }}</div>
                                <div class="pbox">H : {{ data.home.player[1] }}</div>
                            </div>
                            <div class="score" [class]="data.home.score > data.away.score ? 'win' : 'lose'">
                                <span>{{ data.home.score }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="player">
                                <div class="pbox">A : {{ data.away.player[0] }}</div>
                                <div class="pbox">A : {{ data.away.player[1] }}</div>
                            </div>
                            <div class="score" [class]="data.away.score > data.home.score ? 'win' : 'lose'">
                                <span>{{ data.away.score }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="action">
                        <div><button-box [title]="'Deny'" [style]="{'background' : '#494949', 'color' : '#ffffff'}"></button-box></div>
                        <div><button-box [title]="'Approve'"></button-box></div>
                    </div> -->
                </div>
            }
            @empty
            {
                <div class="empty">No Match Yet</div>
            }
        </div>
    </div>
</div>

@if(gptInformation)
{
    <div class="information">
        <div class="cover">
            <div class="close">
                <span (click)="gptInformation = false"><i class="fi fi-rr-cross"></i></span>
            </div>
            <div class="container">
                <h1>GPT (Game Point)</h1>
                <p>
                    GPT is calculated based on the number of matches the player wins.
                </p>
                <br />
                <ul>
                    <li>
                        <b>Same Range GPT (400 GPT : Single, 1000 GPT : Double)</b>
                        <span>
                            Win + 20 RGPT, + 20 GPT
                            <br />
                            Lose - 20 RGPT, - 20 GPT
                        </span>
                    </li>
                    <li>
                        <b>High vs Low GPT (400 - 800 GPT : Single, 1000 - 1400 GPT : Double)</b>
                        <span>
                            High Win + 20 RGPT, + 15 GPT
                            <br />
                            High Lose - 20 RGPT, - 20 GPT
                            <br />
                            Low Win + 20 RGPT, + 20 GPT
                            <br />
                            Low Lose - 10 RGPT, - 10 GPT
                        </span>
                    </li>
                    <li>
                        <b>High vs Low GPT (> 800 GPT : Single, > 1400 GPT : Double)</b>
                        <span>
                            High Win + 20 RGPT, + 10 GPT
                            <br />
                            High Lose - 20 RGPT, - 20 GPT
                            <br />
                            Low Win + 20 RGPT, + 20 GPT
                            <br />
                            Low Lose - 5 RGPT, - 5 GPT
                        </span>
                    </li>
                    <li>
                        <b>
                            Play with same person more then 6 times in a day
                            <br />
                            High vs Low GPT (400 - 800 GPT : Single, 1000 - 1400 GPT : Double)
                        </b>
                        <span>
                            High Win + 20 RGPT, + 15, 10, 5 GPT
                        </span>
                    </li>
                    <li>
                        <b>
                            Play with same person more then 3 times in a day
                            <br />
                            High vs Low GPT (> 800 GPT : Single, > 1400 GPT : Double)
                        </b>
                        <span>
                            High Win + 20 RGPT, + 15, 10, 5 GPT
                        </span>
                    </li>
                </ul>
                <br />
                <p>
                    Referee + 20 RGPT, + 10 GPT
                </p>
            </div>
        </div>
    </div>
}

@if(rgptInformation)
{
    <div class="information">
        <div class="cover">
            <div class="close">
                <span (click)="rgptInformation = false"><i class="fi fi-rr-cross"></i></span>
            </div>
            <div class="container">
                <h1>R-GPT (Real Game Point)</h1>
                <p>
                    R-GPT is calculated based on the number of matches attendance the player take.
                </p>
            </div>
        </div>
    </div>
}
