<div class="profile">
    <div class="action" [class]="{'active' : profileAction}">
        <div class="btn" (click)="toggleAction($event)"><i class="fi fi-rr-menu-burger"></i></div>
        <div class="drop">
            <span (click)="global.copyToClipboard(sampleData.id, 'Player ID')"><i class="fi fi-rr-share"></i>Share Profile</span>
            <span (click)="global.navigate('/setting')"><i class="fi fi-rr-settings-sliders"></i>Setting</span>
            <span><i class="fi fi-rr-exclamation"></i>Report User</span>
        </div>
    </div>
    <div class="coverimage" [style]="{'background-image' : 'url(' + sampleData.cover_img + ')'}">
        <div class="name">
            <div class="shadow"></div>
            <div class="text">{{ sampleData.name }}</div>
            <div class="desc">PMR {{ global.calculatePMR(sampleData.gpt) }}</div>
        </div>
    </div>
    <div class="favourite">
        <span [class]="{'active' : favourite}" (click)="favourite = !favourite">
            @if(favourite)
            {
                <i class="fi fi-sr-star"></i>
            }
            @else
            {
                <i class="fi fi-rr-star"></i>
            }
        </span>
    </div>
    <div class="user">
        <div class="image" [style]="{'background-image' : 'url(' + sampleData.profile_img + ')'}"></div>
        <div class="name" (click)="global.copyToClipboard(sampleData.id, 'Player ID')">
            <span>{{ sampleData.username }}</span>
            <div>Player ID : {{ sampleData.id }}<i class="fi fi-rr-clone"></i></div>
        </div>
    </div>
    <div class="point">
        <div class="box">
            <span>GPT</span>
            <div>5099</div>
            <i class="fi fi-rr-info"></i>
        </div>
        <div class="box">
            <span>R-GPT</span>
            <div>10225</div>
            <i class="fi fi-rr-info"></i>
        </div>
    </div>
    <div class="other">
        <div class="cover">
            <div class="box">
                <span>Record<br />Games</span>
                <div>108</div>
            </div>
            <div class="box">
                <span>Player<br />Praise</span>
                <div>91</div>
            </div>
            <div class="box">
                <span>Game<br />Kudos</span>
                <div>14</div>
                <i class="fi fi-rr-arrow-small-right"></i>
            </div>
        </div>
    </div>
    <div class="stats">
        <div class="btn">
            <i class="fi fi-rr-chart-histogram"></i>
            Check Player Stats
            <span>
                <i class="fi fi-rr-angle-circle-right"></i>
            </span>
        </div>
    </div>
    <div class="match">
        <div class="title">Game History</div>
        <div class="list">
            @for (data of sampleHistory; track data.id)
            {
                <div class="box" (click)="global.navigate('/game?id=' + data.id)">
                    <div class="head">
                        <div class="status" [class]="data.status">{{ data.status }}</div>
                        <div class="text">
                            <span>{{ data.datetime }}</span>
                            <div>{{ data.location }}</div>
                        </div>
                    </div>
                    <div class="scoring">Pickleball - {{ data.scoring }}</div>
                    <div class="line"></div>
                    <div class="result">
                        <div class="row">
                            <div class="player">
                                <div class="pbox">H : {{ data.home.player[0] }}</div>
                                <div class="pbox">H : {{ data.home.player[1] }}</div>
                            </div>
                            <div class="score" [class]="data.home.score > data.away.score ? 'win' : 'lose'">
                                <span>{{ data.home.score }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="player">
                                <div class="pbox">A : {{ data.away.player[0] }}</div>
                                <div class="pbox">A : {{ data.away.player[1] }}</div>
                            </div>
                            <div class="score" [class]="data.away.score > data.home.score ? 'win' : 'lose'">
                                <span>{{ data.away.score }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="action">
                        <div><button-box [title]="'Deny'" [style]="{'background' : '#494949', 'color' : '#ffffff'}"></button-box></div>
                        <div><button-box [title]="'Approve'"></button-box></div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if(gptNote)
{
    <div class="gpt-description">
        <div class="desccover">
            
        </div>
    </div>
}

