.profile
{
    display : block;
    position: relative;
    width   : 100%;

    & > .action
    {
        display   : block;
        position  : absolute;
        width     : 44px;
        height    : 44px;
        top       : 24px;
        right     : 24px;
        z-index   : 1;

        &.active
        {
            & > .btn
            {
                background:rgba(0,0,0,0.9);
            }
            & > .drop
            {
                opacity   : 1;
                visibility: visible;
                top       : 54px;
            }
        }
        & > .btn
        {
            display              : block;
            position             : relative;
            width                : 44px;
            height               : 44px;
            border-radius        : 50%;
            -webkit-border-radius: 50%;
            cursor               : pointer;
            background           : rgba(0,0,0,0.4);
            transition           : all 0.2s ease;
            -webkit-transition   : all 0.2s ease;

            & > i
            {
                display    : block;
                position   : absolute;
                width      : 20px;
                height     : 20px;
                font-size  : 20px;
                line-height: 20px;
                font-size  : 20px;
                top        : calc(50% - 10px);
                left       : calc(50% - 10px);
            }
        }
        & > .drop
        {
            display              : block;
            position             : absolute;
            width                : 132px;
            right                : 0px;
            top                  : 48px;
            background           : rgba(0,0,0,0.9);
            border-radius        : 10px;
            -webkit-border-radius: 10px;
            box-sizing           : border-box;
            -webkit-box-sizing   : border-box;
            padding              : 4px 0px;
            transition           : all 0.2s ease;
            -webkit-transition   : all 0.2s ease;
            visibility           : hidden;
            opacity              : 0;

            & span
            {
                display           : block;
                position          : relative;
                width             : 100%;
                height            : 36px;
                line-height       : 36px;
                box-sizing        : border-box;
                -webkit-box-sizing: border-box;
                font-size         : 12px;
                padding           : 0px 14px 0px 34px;
                cursor            : pointer;

                & > i
                {
                    display    : block;
                    position   : absolute;
                    width      : 12px;
                    height     : 12px;
                    line-height: 12px;
                    font-size  : 12px;
                    top        : calc(50% - 6px);
                    left       : 14px;
                }
            }
        }
    }
    & > .coverimage
    {
        display            : block;
        position           : relative;
        width              : 100%;
        height             : 420px;
        background-color   : #000000;
        background-repeat  : no-repeat !important;
        background-position: 50% 50% !important;
        background-size    : cover !important;
        overflow           : hidden;

        & > .name
        {
            display           : block;
            position          : absolute;
            width             : 100%;
            bottom            : 0px;
            left              : 0px;
            box-sizing        : border-box;
            -webkit-box-sizing: border-box;
            padding           : 20px;

            & > .shadow
            {
                display       : block;
                position      : absolute;
                width         : calc(100% + 50px);
                height        : calc(100% + 50px);
                background    : rgba(0,0,0,0.6);
                bottom        : -25px;
                left          : -25px;
                filter        : blur(20px);
                -webkit-filter: blur(20px);
            }
            & > .text
            {
                display    : block;
                position   : relative;
                width      : 240px;
                font-size  : 50px;
                line-height: 56px;
                font-weight: 700;
                text-shadow: 0px 6px 10px rgba(0,0,0,0.4);
                margin     : 0px 0px 14px 0px;
            }
            & > .desc
            {
                display    : block;
                position   : relative;
                width      : 100%;
                font-size  : 18px;
                font-weight: 600;
                color      : #FFC907;
                text-shadow: 0px 6px 10px rgba(0,0,0,0.4);
            }
        }
    }
    & > .favourite
    {
        display : block;
        position: relative;
        width   : 100%;
        z-index : 1;

        & > span
        {
            display              : block;
            position             : absolute;
            width                : 50px;
            height               : 50px;
            border-radius        : 50%;
            -webkit-border-radius: 50%;
            background           : #494949;
            top                  : -25px;
            right                : 24px;
            cursor               : pointer;
            transition           : all 0.2s ease;
            -webkit-transition   : all 0.2s ease;

            &.active
            {
                background:#EC3049;
            }
            & > i
            {
                display    : block;
                position   : absolute;
                width      : 24px;
                height     : 24px;
                line-height: 24px;
                text-align : center;
                font-size  : 24px;
                top        : calc(50% - 12px);
                left       : calc(50% - 12px);
            }
        }
    }
    & > .user
    {
        display           : block;
        position          : relative;
        width             : 100%;
        box-sizing        : border-box;
        -webkit-box-sizing: border-box;
        padding           : 0px 24px;
        margin            : 30px 0px;
        overflow          : hidden;

        & > .image
        {
            display              : block;
            position             : relative;
            float                : left;
            width                : 60px;
            height               : 60px;
            background-color     : #494949;
            background-repeat    : no-repeat !important;
            background-position  : 50% 50% !important;
            background-size      : cover !important;
            border-radius        : 50%;
            -webkit-border-radius: 50%;
            margin               : 0px 12px 0px 0px;
        }
        & > .name
        {
            display           : block;
            position          : relative;
            float             : left;
            box-sizing        : border-box;
            -webkit-box-sizing: border-box;
            padding           : 8px 0px;
            cursor            : pointer;

            & > span
            {
                display  : block;
                position : relative;
                width    : 100%;
                font-size: 14px;
                color    : #494949;
                margin   : 0px 0px 4px 0px;
            }
            & > div
            {
                display           : inline-block;
                position          : relative;
                font-size         : 16px;
                line-height       : 20px;
                box-sizing        : border-box;
                -webkit-box-sizing: border-box;
                padding           : 0px 26px 0px 0px;

                & > i
                {
                    display    : block;
                    position   : absolute;
                    width      : 16px;
                    height     : 16px;
                    line-height: 16px;
                    font-size  : 16px;
                    top        : 1px;
                    right      : 0px;
                }
            }
        }
    }
    & > .point
    {
        display           : block;
        position          : relative;
        width             : 100%;
        overflow          : hidden;
        box-sizing        : border-box;
        -webkit-box-sizing: border-box;
        padding           : 0px 24px;
        margin            : 0px 0px 20px 0px;

        & .box
        {
            display              : block;
            position             : relative;
            float                : left;
            background           : #111111;
            box-sizing           : border-box;
            -webkit-box-sizing   : border-box;
            padding              : 20px;
            border-radius        : 10px;
            -webkit-border-radius: 10px;
            cursor               : pointer;
            width                : calc(50% - 10px);

            &:last-child
            {
                float:right;
            }
            & > span
            {
                display  : block;
                position : relative;
                width    : 100%;
                font-size: 14px;
                margin   : 0px 0px 12px 0px;
            }
            & > div
            {
                display    : block;
                position   : relative;
                width      : 100%;
                font-size  : 18px;
                color      : #FFC907;
                font-weight: 600;
            }
            & > i
            {
                display    : block;
                position   : absolute;
                width      : 16px;
                height     : 16px;
                line-height: 16px;
                text-align : center;
                font-size  : 16px;
                top        : 20px;
                right      : 20px;
                color      : #494949;
            }
        }
    }
    & > .other
    {
        display           : block;
        position          : relative;
        width             : 100%;
        box-sizing        : border-box;
        -webkit-box-sizing: border-box;
        padding           : 0px 24px;
        margin            : 0px 0px 30px 0px;

        & > .cover
        {
            display           : flex;
            position          : relative;
            width             : 100%;
            box-sizing        : border-box;
            -webkit-box-sizing: border-box;
            gap               : 10px;

            & .box
            {
                display           : block;
                position          : relative;
                box-sizing        : border-box;
                -webkit-box-sizing: border-box;
                width             : 100%;
                background        : #1E1E1E;
                padding           : 18px;
                border-radius        : 10px;
                -webkit-border-radius: 10px;

                &:last-child
                {
                    cursor:pointer;
                }
                & > span
                {
                    display    : block;
                    position   : relative;
                    width      : 100%;
                    font-size  : 14px;
                    line-height: 18px;
                    margin     : 0px 0px 18px 0px;
                }
                & > div
                {
                    display    : block;
                    position   : relative;
                    width      : 100%;
                    font-size  : 18px;
                    font-weight: 600;
                }
                & > i
                {
                    display    : block;
                    position   : absolute;
                    color      : #494949;
                    bottom     : 18px;
                    right      : 14px;
                    width      : 20px;
                    height     : 20px;
                    line-height: 20px;
                    font-size  : 20px;
                }
            }
        }
    }
    & > .stats
    {
        display           : block;
        position          : relative;
        width             : 100%;
        box-sizing        : border-box;
        -webkit-box-sizing: border-box;
        padding           : 0px 24px;
        margin            : 0px 0px 30px 0px;

        & > .btn
        {
            display              : block;
            position             : relative;
            width                : 100%;
            border-radius        : 10px;
            -webkit-border-radius: 10px;
            background           : #ffffff;
            box-sizing           : border-box;
            -webkit-box-sizing   : border-box;
            padding              : 20px 20px 20px 54px;
            cursor               : pointer;
            overflow             : hidden;
            font-size            : 16px;
            color                : #000000;

            & > i
            {
                display    : block;
                position   : absolute;
                width      : 18px;
                height     : 18px;
                line-height: 18px;
                font-size  : 18px;
                color      : #000000;
                top        : calc(50% - 9px);
                left       : 20px;
            }
            & > span
            {
                display : block;
                position: absolute;
                width   : 20px;
                height  : 20px;
                top     : calc(50% - 10px);
                right   : 20px;

                & > i
                {
                    display    : block;
                    position   : absolute;
                    width      : 18px;
                    height     : 18px;
                    line-height: 18px;
                    font-size  : 18px;
                    color      : #000000;
                    top        : calc(50% - 9px);
                    left       : calc(50% - 9px);
                }
            }
        }
    }
    & > .match
    {
        display           : block;
        position          : relative;
        width             : 100%;
        box-sizing        : border-box;
        -webkit-box-sizing: border-box;
        padding           : 0px 24px;
        margin            : 0px 0px 20px 0px;

        & > .title
        {
            display  : block;
            position : relative;
            width    : 100%;
            font-size: 16px;
            margin   : 0px 0px 14px 0px;
        }
        & > .list
        {
            display : block;
            position: relative;
            width   : 100%;

            & .box
            {
                display              : block;
                position             : relative;
                width                : 100%;
                box-sizing           : border-box;
                -webkit-box-sizing   : border-box;
                padding              : 20px;
                border               : solid 1px #3B3B3B;
                border-radius        : 10px;
                -webkit-border-radius: 10px;
                background           : #1E1E1E;
                margin               : 0px 0px 12px 0px;
                cursor               : pointer;

                &:last-child
                {
                    margin:0px;
                }
                & > .head
                {
                    display : block;
                    position: relative;
                    width   : 100%;
                    overflow: hidden;
                    margin  : 0px 0px 16px 0px;

                    & > .status
                    {
                        display              : block;
                        position             : relative;
                        float                : left;
                        border-radius        : 10px;
                        -webkit-border-radius: 10px;
                        box-sizing           : border-box;
                        -webkit-box-sizing   : border-box;
                        height               : 34px;
                        line-height          : 34px;
                        padding              : 0px 14px;
                        font-size            : 14px;
                        font-weight          : 600;
                        letter-spacing       : 1px;
                        text-transform       : uppercase;

                        &.win
                        {
                            background : #25A21E;
                        }
                        &.lose
                        {
                            background:#EC3049;
                        }
                    }
                    & > .text
                    {
                        display:block;
                        position:relative;
                        float:right;

                        & > span
                        {
                            display   : block;
                            position  : relative;
                            width     : 100%;
                            font-size : 14px;
                            margin    : 0px 0px 4px 0px;
                            text-align: right;
                        }
                        & > div
                        {
                            display   : block;
                            position  : relative;
                            width     : 100%;
                            font-size : 12px;
                            color     : #494949;
                            text-align: right;
                        }
                    }
                }
                & > .scoring
                {
                    display  : block;
                    position : relative;
                    width    : 100%;
                    font-size: 16px;
                }
                & > .line
                {
                    display   : block;
                    position  : relative;
                    width     : 100%;
                    height    : 1px;
                    background: #3B3B3B;
                    margin    : 20px 0px;
                }
                & > .result
                {
                    display : block;
                    position: relative;
                    width   : 100%;

                    & > .row
                    {
                        display : block;
                        position: relative;
                        width   : 100%;
                        overflow: hidden;
                        margin  : 0px 0px 10px 0px;

                        &:last-child
                        {
                            margin:0px;
                        }
                        & > .player
                        {
                            display           : block;
                            position          : relative;
                            box-sizing        : border-box;
                            -webkit-box-sizing: border-box;
                            padding           : 0px 54px 0px 0px;
                            width             : 100%;

                            & > .pbox
                            {
                                display    : block;
                                position   : relative;
                                width      : 100%;
                                font-size  : 12px;
                                line-height: 18px;
                            }
                        }
                        & > .score
                        {
                            display    : flex;
                            align-items: center;
                            position   : absolute;
                            width      : 50px;
                            height     : 100%;
                            top        : 0;
                            right      : 0;

                            &.win
                            {
                                color:#25A21E;
                            }
                            &.lose
                            {
                                color:#EC3049;
                            }
                            & > span
                            {
                                display    : block;
                                position   : relative;
                                width      : 100%;
                                text-align : right;
                                font-size  : 18px;
                                font-weight: 600;
                            }
                        }
                    }
                }
                & > .action
                {
                    display : block;
                    position: relative;
                    width   : 100%;
                    overflow: hidden;
                    margin  : 20px 0px 0px 0px;

                    & div
                    {
                        display : block;
                        position: relative;
                        float   : left;
                        width   : calc(50% - 8px);
                        
                        &:last-child
                        {
                            float:right;
                        }
                    }
                }
            }
        }
    }
}

.information
{
    display                : flex;
    justify-content        : center;
    align-items            : center;
    position               : fixed;
    width                  : 100%;
    height                 : 100%;
    top                    : 0;
    left                   : 0;
    background             : rgba(0,0,0,0.5);
    z-index                : 999;
    backdrop-filter        : blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-sizing             : border-box;
    -webkit-box-sizing     : border-box;
    padding                : 24px;

    & > .cover
    {
        display  : block;
        position : relative;
        width    : 100%;
        max-width: 400px;

        & > .close
        {
            display : block;
            position: relative;
            width   : 100%;
            height  : 50px;

            & > span
            {
                display : block;
                position: relative;
                width   : 50px;
                height  : 50px;
                float   : right;
                cursor  : pointer;

                & > i
                {
                    display    : block;
                    position   : absolute;
                    width      : 18px;
                    height     : 18px;
                    line-height: 18px;
                    text-align : center;
                    font-size  : 18px;
                    top        : calc(50% - 9px);
                    left       : calc(50% - 9px);
                }
            }
        }
        & > .container
        {
            display              : block;
            position             : relative;
            width                : 100%;
            max-width            : 400px;
            background           : #ffffff;
            border-radius        : 10px;
            -webkit-border-radius: 10px;
            box-sizing           : border-box;
            -webkit-box-sizing   : border-box;
            padding              : 20px;
            color                : #000000;

            & h1
            {
                display    : block;
                position   : relative;
                width      : 100%;
                font-size  : 16px;
                margin     : 0px 0px 6px 0px;
                padding    : 0px;
                font-weight: 700;
            }
            & p
            {
                display    : block;
                position   : relative;
                width      : 100%;
                font-size  : 14px;
                line-height: 22px;
                margin     : 0px;
                padding    : 0px;

                & b
                {
                    color:#EC3049;
                }
            }
        }
    }
}