<div class="inputbox" [class]="{'disabled' : disabled, 'readonly' : readonly}">
  @if(type === 'text')
  {
    <div class="textbox" [class]="{'iconed' : icon}">
      @if(valueText === '')
      {
        <div class="title">{{ title }}</div>
      }
      @if(icon && !readonly)
      {
        <i class="fi" [class]="icon"></i>
      }
      @if(readonly)
      {
        <i class="fi fi-rr-clone"></i>
      }
      <input type="text" [value]="valueText" autocomplete="new-user" (input)="onTextInput($event)" />
    </div>
  }
  @if(type === 'textarea')
  {
    <div class="textareabox" [class]="{'iconed' : icon}">
      @if(valueTextarea === '')
      {
        <div class="title">{{ title }}</div>
      }
      @if(icon)
      {
        <i class="fi" [class]="icon"></i>
      }
      <textarea type="text" [value]="valueTextarea" (input)="onTextareaInput($event)"></textarea>
    </div>
  }
  @if(type === 'password')
  {
    <div class="passbox" [class]="{'iconed' : icon}">
      @if(valuePassword === '')
      {
        <div class="title">{{ title }}</div>
      }
      @if(icon)
      {
        <i class="fi" [class]="icon"></i>
      }
      <input [type]="showPassword ? 'text' : 'password'" [value]="valuePassword" autocomplete="new-password" (input)="onPasswordInput($event)" />
      <span (click)="showPassword = !showPassword">
        <i class="fi" [class]="showPassword ? 'fi-rr-eye-crossed' : 'fi-rr-eye'"></i>
      </span>
    </div>
  }
  @if(type === 'upload')
  {
    <div class="uploadbox" [class]="{'iconed' : icon}">
      @if(valueUpload === '')
      {
        <div class="title">{{ title }}</div>
      }
      @if(icon)
      {
        <i class="fi" [class]="icon"></i>
      }
      <label [for]="'upload' + class">
        <input type="file" [id]="'upload' + class" (input)="onUploadInput($event)" />
      </label>
    </div>
  }
  @if(type === 'select')
  {
    <div class="selectbox" [class]="{'iconed' : icon}" (click)="onSelectInput()">
      @if(valueSelect === '')
      {
        <div class="title">{{ title }}</div>
      }
      @else
      {
        <div class="title">{{ valueSelect }}</div>
      }
      @if(icon && !readonly)
      {
        <i class="fi" [class]="icon"></i>
      }
    </div>
  }
  @if(type === 'switch')
  {
    <div class="switchbox" [class]="{'active' : valueSwitch}" (click)="onSwitchInput()">
      <div class="toggle">
        <span></span>
      </div>
      <div class="title">{{ title }}</div>
    </div>
  }
</div>
