.activity
{
    display           : block;
    position          : relative;
    width             : 100%;
    box-sizing        : border-box;
    -webkit-box-sizing: border-box;
    padding           : 24px;

    & > .head
    {
        display : block;
        position: relative;
        width   : 100%;
        margin  : 0px 0px 30px 0px;

        & > .title
        {
            display           : block;
            position          : relative;
            width             : 100%;
            font-size         : 18px;
            line-height       : 24px;
            box-sizing        : border-box;
            -webkit-box-sizing: border-box;
            padding           : 8px 0px 0px 58px;

            & > span
            {
                display              : block;
                position             : absolute;
                width                : 40px;
                height               : 40px;
                border-radius        : 8px;
                -webkit-border-radius: 8px;
                background           : #2d2d2d;
                cursor               : pointer;
                top                  : 0;
                left                 : 0;

                & > i
                {
                    display    : block;
                    position   : absolute;
                    width      : 24px;
                    height     : 24px;
                    line-height: 24px;
                    font-size  : 24px;
                    top        : calc(50% - 12px);
                    left       : calc(50% - 12px);
                }
            }
        }
    }
    & > .detail
    {
        display : block;
        position: relative;
        width   : 100%;
        
        & > img
        {
            display           : block;
            position          : relative;
            width             : calc(100% + 48px);
            box-sizing        : border-box;
            -webkit-box-sizing: border-box;
            margin            : 0px -24px;
        }
        & > .price
        {
            display    : block;
            position   : relative;
            float      : left;
            margin     : 20px 0px 0px 0px;
            overflow   : hidden;
            font-size  : 15px;
            font-weight: 600;

            & > div
            {
                display              : block;
                position             : relative;
                float                : left;
                height               : 32px;
                line-height          : 32px;
                box-sizing           : border-box;
                -webkit-box-sizing   : border-box;
                border-radius        : 6px 0px 0px 6px;
                -webkit-border-radius: 6px 0px 0px 6px;
                background           : #3ba632;
                padding              : 0px 10px;
            }
            & > span
            {
                display              : block;
                position             : relative;
                float                : left;
                height               : 32px;
                line-height          : 32px;
                box-sizing           : border-box;
                -webkit-box-sizing   : border-box;
                border-radius        : 0px 6px 6px 0px;
                -webkit-border-radius: 0px 6px 6px 0px;
                background           : #fa993f;
                color                : #1E1E1E;
                padding              : 0px 10px;
            }
        }
        & > .amount
        {
            display              : block;
            position             : relative;
            float                : right;
            font-size            : 15px;
            font-weight          : 600;
            height               : 32px;
            line-height          : 32px;
            box-sizing           : border-box;
            -webkit-box-sizing   : border-box;
            padding              : 0px 10px 0px 32px;
            margin               : 20px 0px 0px 0px;
            background           : #000000;
            border-radius        : 6px;
            -webkit-border-radius: 6px;

            & > i
            {
                display    : block;
                position   : absolute;
                width      : 14px;
                height     : 14px;
                line-height: 14px;
                font-size  : 14px;
                top        : calc(50% - 7px);
                left       : 10px;
            }
        }
        & > .datetime
        {
            display           : block;
            position          : relative;
            width             : 100%;
            margin            : 20px 0px 0px 0px;
            font-size         : 16px;
            box-sizing        : border-box;
            -webkit-box-sizing: border-box;
            padding           : 0px 0px 0px 26px;

            & > i
            {
                display    : block;
                position   : absolute;
                width      : 16px;
                height     : 16px;
                line-height: 16px;
                font-size  : 16px;
                top        : 0px;
                left       : 0px;
            }
        }
        & > .location
        {
            display           : block;
            position          : relative;
            width             : 100%;
            margin            : 10px 0px 0px 0px;
            font-size         : 16px;
            box-sizing        : border-box;
            -webkit-box-sizing: border-box;
            padding           : 0px 0px 0px 26px;

            & > i
            {
                display    : block;
                position   : absolute;
                width      : 16px;
                height     : 16px;
                line-height: 16px;
                font-size  : 16px;
                top        : 0px;
                left       : 0px;
            }
        }
        & > .require
        {
            display           : block;
            position          : relative;
            width             : 100%;
            margin            : 10px 0px 0px 0px;
            font-size         : 16px;
            box-sizing        : border-box;
            -webkit-box-sizing: border-box;
            padding           : 0px 0px 0px 26px;
            color             : #EC3049;

            & > i
            {
                display    : block;
                position   : absolute;
                width      : 16px;
                height     : 16px;
                line-height: 16px;
                font-size  : 16px;
                top        : 0px;
                left       : 0px;
            }
        }
        & > .link
        {
            display              : block;
            position             : relative;
            float                : left;
            height               : 40px;
            box-sizing           : border-box;
            -webkit-box-sizing   : border-box;
            padding              : 3px;
            overflow             : hidden;
            cursor               : pointer;
            margin               : 20px 0px 0px 0px;
            border-radius        : 8px;
            -webkit-border-radius: 8px;
            background           : #f9b93a;

            & > img
            {
                display : block;
                position: relative;
                float   : left;
                width   : 34px;
                height  : 34px;
            }
            & > span
            {
                display           : block;
                position          : relative;
                height            : 34px;
                line-height       : 34px;
                box-sizing        : border-box;
                -webkit-box-sizing: border-box;
                padding           : 0px 12px 0px 0px;
                float             : left;
                font-size         : 13px;
                font-weight       : 600;
                color             : #494dd8;
            }
        }
        & > .player
        {
            display : block;
            position: relative;
            width   : 100%;
            margin  : 30px 0px 0px 0px;

            & > .head
            {
                display              : block;
                position             : relative;
                width                : 100%;
                box-sizing           : border-box;
                -webkit-box-sizing   : border-box;
                border-radius        : 10px;
                -webkit-border-radius: 10px;
                background           : #1E1E1E;
                height               : 50px;
                line-height          : 50px;
                padding              : 0px 20px;
                font-size            : 14px;
                margin               : 0px 0px 20px 0px;

                & > span
                {
                    display : block;
                    position: relative;
                    float   : right;
                }
            }
            & > .list
            {
                display   : block;
                position  : relative;
                width     : 100%;
                text-align: center;
                overflow  : hidden;

                & .box
                {
                    display : block;
                    position: relative;
                    float   : left;
                    width   : 60px;
                    margin  : 0px 10px 16px 10px;
                    height  : 98px;

                    & > div
                    {
                        display              : block;
                        position             : relative;
                        width                : 60px;
                        height               : 60px;
                        background-color     : #494949;
                        background-repeat    : no-repeat !important;
                        background-position  : 50% 50% !important;
                        background-size      : cover !important;
                        border-radius        : 50%;
                        -webkit-border-radius: 50%;
                        margin               : 0px 0px 8px 0px;
                    }
                    & > span
                    {
                        display    : block;
                        position   : relative;
                        width      : 100%;
                        font-size  : 13px;
                        line-height: 16px;
                        height     : 32px;
                        overflow   : hidden;
                    }
                }
            }
        }
        & > .scdehule
        {
            display : block;
            position: relative;
            width   : 100%;

            & > .head
            {
                display              : block;
                position             : relative;
                width                : 100%;
                box-sizing           : border-box;
                -webkit-box-sizing   : border-box;
                border-radius        : 10px;
                -webkit-border-radius: 10px;
                background           : #1E1E1E;
                height               : 50px;
                line-height          : 50px;
                padding              : 0px 20px;
                font-size            : 14px;
                margin               : 0px 0px 20px 0px;
            }
            & > .list
            {
                display : block;
                position: relative;
                width   : 100%;

                & .row
                {
                    display : block;
                    position: relative;
                    width   : 100%;
                    margin  : 0px 0px 20px 0px;

                    &:last-child
                    {
                        margin:0px;
                    }
                    & > .court
                    {
                        display           : block;
                        position          : relative;
                        width             : 100%;
                        box-sizing        : border-box;
                        -webkit-box-sizing: border-box;
                        font-size         : 16px;
                        font-weight       : 600;
                        text-align        : center;
                        margin            : 0px 0px 10px 0px;
                        color             : #5090f2;
                    }
                    & > .match
                    {
                        display : block;
                        position: relative;
                        width   : 100%;

                        & .game
                        {
                            display              : block;
                            position             : relative;
                            width                : 100%;
                            box-sizing           : border-box;
                            -webkit-box-sizing   : border-box;
                            border               : solid 1px #3c3c3c;
                            border-radius        : 6px;
                            -webkit-border-radius: 6px;
                            margin               : 0px 0px 8px 0px;
                            overflow             : hidden;

                            &:last-child
                            {
                                margin:0px;
                            }
                            & > .num
                            {
                                display           : block;
                                position          : relative;
                                width             : 100%;
                                background        : #3c3c3c;
                                height            : 30px;
                                line-height       : 30px;
                                box-sizing        : border-box;
                                -webkit-box-sizing: border-box;
                                padding           : 0px 10px;
                                font-size         : 14px;
                                color             : #b897dc;
                            }
                            & > .home
                            {
                                display           : block;
                                position          : relative;
                                width             : calc(50% - 20px);
                                float             : left;
                                font-size         : 14px;
                                box-sizing        : border-box;
                                -webkit-box-sizing: border-box;
                                padding           : 8px;

                                & span
                                {
                                    display           : block;
                                    position          : relative;
                                    width             : 100%;
                                    box-sizing        : border-box;
                                    -webkit-box-sizing: border-box;
                                    padding           : 4px;
                                    white-space       : nowrap;
                                    text-overflow     : ellipsis;
                                    overflow          : hidden;
                                }
                            }
                            & > .vs
                            {
                                display    : block;
                                position   : relative;
                                width      : 40px;
                                height     : 64px;
                                line-height: 64px;
                                font-size  : 14px;
                                float      : left;
                                text-align : center;
                                font-weight: 600;
                                color      : #3c3c3c;
                            }
                            & > .away
                            {
                                display           : block;
                                position          : relative;
                                width             : calc(50% - 20px);
                                float             : right;
                                font-size         : 14px;
                                box-sizing        : border-box;
                                -webkit-box-sizing: border-box;
                                padding           : 8px;

                                & span
                                {
                                    display           : block;
                                    position          : relative;
                                    width             : 100%;
                                    box-sizing        : border-box;
                                    -webkit-box-sizing: border-box;
                                    padding           : 4px;
                                    text-align        : right;
                                    white-space       : nowrap;
                                    text-overflow     : ellipsis;
                                    overflow          : hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
        & > .result
        {
            display              : block;
            position             : relative;
            width                : 100%;
            height               : 46px;
            box-sizing           : border-box;
            -webkit-box-sizing   : border-box;
            line-height          : 46px;
            border-radius        : 8px;
            -webkit-border-radius: 8px;
            background           : #2a4fd1;
            padding              : 0px 20px;
            font-size            : 14px;
            font-weight          : 600;
            text-align           : center;
            cursor               : pointer;

            & > i
            {
                display    : block;
                position   : absolute;
                width      : 16px;
                height     : 16px;
                line-height: 16px;
                font-size  : 16px;
                top        : calc(50% - 8px);
                left       : 14px;
            }
        }
    }
}