<div class="activity">
    <div class="activitycover">
        <div class="title">
            Activity
            <span (click)="global.navigate('/event')"><i class="fi fi-rr-cross-small"></i></span>
        </div>
        <div class="image"></div>
        <div class="content">
            <div class="datetime">20th Sep, 8pm - 10pm</div>
            <div class="name">Super Referee Open Court double up GPT</div>
            <div class="amount">Player : 7 pax</div>
            <div class="gpt">GPT Require : > 2500 GPT</div>
        </div>
        <div class="player">
            <div class="head">Confirmed Player<span>4 / 7</span></div>
            <div class="list">
                <div class="box" (click)="global.navigate('/profile')">
                    <div></div>
                    <span>Nick Lai Tong</span>
                </div>
                <div class="box" (click)="global.navigate('/profile')">
                    <div></div>
                    <span>Sean Ling Ooi</span>
                </div>
            </div>
        </div>
    </div>
</div>