<div class="activity">
    <div class="head">
        <div class="title">
            <span (click)="global.navigate('/event')"><i class="fi fi-rr-arrow-small-left"></i></span>
            {{ eventDetail.title }}
        </div>
    </div>
    <div class="detail">
        <img [src]="'../../../assets/images/' + eventDetail.image" />

        <div class="clear-row"></div>

        <div class="price">
            <div>ENT RM20</div>
            <span>WIN RM100</span>
        </div>
        <div class="amount"><i class="fi fi-br-user"></i>{{ eventDetail.amount }} pax</div>
        
        <div class="clear-row"></div>

        <div class="datetime"><i class="fi fi-rr-calendar"></i>{{ eventDetail.date }}, {{ eventDetail.day }} {{ eventDetail.time }}</div>
        <div class="location"><i class="fi fi-rr-marker"></i>{{ eventDetail.location }}</div>
        @if(eventDetail.require !== 'none')
        {
            <div class="require"><i class="fi fi-rr-ranking-podium-empty"></i>{{ eventDetail.require }}</div>
        }

        <div class="clear-row"></div>

        <div class="link" (click)="goReclub()">
            <img src="../../../assets/images/reclub.jpg" />
            <span>Reclub Meet</span>
        </div>

        <div class="clear-row"></div>

        <div class="player">
            <div class="head">Confirmed Player<span>{{ eventDetail.players.length }} / {{ eventDetail.amount }}</span></div>
            <div class="list">
                @for (data of eventPlayer; track data.id)
                {
                    <div class="box">
                        <div [style]="{'background-image' : 'url(' + data.profile_img + ')'}"></div>
                        <span>{{ data.username }}</span>
                    </div>
                }
            </div>
        </div>
        @if(!eventDetail.expired)
        {
            <div class="scdehule">
                <div class="head">Scdehuled Match</div>
                <div class="list">
                    @for (data of eventScdehule; track data.court)
                    {
                        <div class="row">
                            <div class="court">Court {{ data.court }}</div>
                            <div class="match">
                                @for (match of data.game; track match)
                                {
                                    <div class="game">
                                        <div class="num">Game {{ match.index + 1 }}</div>
                                        <div class="clear-row"></div>
                                        <div class="home">
                                            <span>{{ match.home[0].username }}</span>
                                            <span>{{ match.home[1].username }}</span>
                                        </div>
                                        <div class="vs">VS</div>
                                        <div class="away">
                                            <span>{{ match.away[0].username }}</span>
                                            <span>{{ match.away[1].username }}</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        <div class="result">
            CHECK RESULT
        </div>
    </div>
</div>