<div class="logon" [class]="page">
    <div class="close" (click)="global.navigate('/ranking')"><i class="fi fi-br-cross"></i></div>
    <div class="header">
        <img src="../../../assets/images/logo.svg" />
    </div>
    <div class="form">
        @if(page === 'login')
        {
            <div class="loginform" [class]="{'loading' : loader}">
                <div class="row">
                    <input-box  [type]="'text'"
                                [icon]="'fi-rr-circle-user'"
                                [border]="2"
                                [title]="'Username / Email'"
                                [value]="loginForm.identified"
                                (onInput)="loginForm.identified = $event">
                    </input-box>
                </div>
                <div class="row">
                    <input-box  [type]="'password'"
                                [icon]="'fi-rr-lock'"
                                [border]="2"
                                [title]="'Password'"
                                [value]="loginForm.password"
                                (onInput)="loginForm.password = $event">
                    </input-box>
                </div>
                <div class="row">
                    <span>Forget Password ?</span>
                </div>
                <div class="row" style="margin:0px 0px 40px 0px;">
                    <button-box [title]="'Login'" (click)="login()"></button-box>
                </div>
                <div class="row">
                    <div (click)="page = 'register'">First time? Click here to register</div>
                </div>
            </div>
        }
        @else 
        {
            <div class="registerform" [class]="{'loading' : loader}">
                <div class="row">
                    <input-box  [type]="'text'"
                                [icon]="'fi-rr-circle-user'"
                                [border]="2"
                                [title]="'Username'"
                                [value]="registerForm.username"
                                (onInput)="registerForm.username = $event">
                    </input-box>
                </div>
                <div class="row">
                    <input-box  [type]="'text'"
                                [icon]="'fi-rr-circle-user'"
                                [border]="2"
                                [title]="'Display Name'"
                                [value]="registerForm.display_name"
                                (onInput)="registerForm.display_name = $event">
                    </input-box>
                </div>
                <div class="row">
                    <input-box  [type]="'text'"
                                [icon]="'fi-rr-calendar-day'"
                                [border]="2"
                                [title]="'DOB : DD/MM/YYYY'"
                                [value]="registerForm.dob"
                                (onInput)="registerForm.dob = $event">
                    </input-box>
                </div>
                <div class="row">
                    <input-box  [type]="'text'"
                                [icon]="'fi-rr-at'"
                                [border]="2"
                                [title]="'Email Address'"
                                [value]="registerForm.email"
                                (onInput)="registerForm.email = $event">
                    </input-box>
                </div>
                <div class="row">
                    <input-box  [type]="'select'"
                                [icon]="'fi-rr-globe'"
                                [border]="2"
                                [title]="'Country'"
                                [value]="registerForm.country"
                                (click)="showCountry = true">
                    </input-box>
                </div>
                <div class="row">
                    <input-box  [type]="'text'"
                                [icon]="'fi-rr-phone-flip'"
                                [border]="2"
                                [title]="'Phone Number'">
                    </input-box>
                </div>
                <div class="row">
                    <input-box  [type]="'password'"
                                [icon]="'fi-rr-lock'"
                                [border]="2"
                                [title]="'Password'">
                    </input-box>
                </div>
                <div class="row">
                    <input-box  [type]="'password'"
                                [icon]="'fi-rr-lock'"
                                [border]="2"
                                [title]="'Confirm Password'">
                    </input-box>
                </div>
                <div class="row" style="margin:0px 0px 40px 0px;">
                    <button-box [title]="'Register Now'" (click)="register()"></button-box>
                </div>
                <div class="row">
                    <div (click)="page = 'login'">Already have account? Click here to Login</div>
                </div>
            </div>
        }
    </div>
</div>

@if(showCountry)
{
    <div class="phonecode">
        <div class="phonecover">
            <div class="close" (click)="closeCountry()"><i class="fi fi-rr-cross-small"></i></div>
            <div class="search">
                <input-box  [type]="'text'"
                            [icon]="'fi-rr-search'"
                            [title]="'Search Country'"
                            (onInput)="searchCountry($event)">
                </input-box>
            </div>
            <div class="list">
                @for (data of counrtyData; track data.code)
                {
                    <div class="row" (click)="selectCode(data)">
                        <div class="code">{{ data.dial_code }}</div>
                        <div class="country">{{ data.name }}</div>
                    </div>
                }
            </div>
        </div>
    </div>
}