.create
{
    display : block;
    position: relative;
    width   : 100%;

    & > .createcover
    {
        display           : block;
        position          : relative;
        width             : 100%;
        box-sizing        : border-box;
        -webkit-box-sizing: border-box;
        padding           : 24px;
        transition        : all 0.2s ease;
        -webkit-transition: all 0.2s ease;

        &.loading
        {
            opacity       : 0.4;
            pointer-events: none;
        }
        & > .title
        {
            display  : block;
            position : relative;
            width    : 100%;
            font-size: 18px;
            margin   : 0px 0px 30px 0px;

            & > span
            {
                display : block;
                position: absolute;
                width   : 40px;
                height  : 40px;
                top     : calc(50% - 20px);
                right   : 0px;
                cursor  : pointer;

                & > i
                {
                    display    : block;
                    position   : absolute;
                    width      : 28px;
                    height     : 28px;
                    line-height: 28px;
                    text-align : center;
                    font-size  : 28px;
                    top        : calc(50% - 14px);
                    right      : 0px;
                }
            }
        }
        & > .form
        {
            display : block;
            position: relative;
            width   : 100%;
            margin  : 0px 0px 30px 0px;

            & > .image
            {
                display              : block;
                position             : relative;
                width                : 100%;
                background-color     : #494949;
                background-repeat    : no-repeat !important;
                background-position  : 50% 50% !important;
                background-size      : cover !important;
                height               : 220px;
                border-radius        : 10px;
                -webkit-border-radius: 10px;
                margin               : 0px 0px 20px 0px;
            }
            & .row
            {
                display : block;
                position: relative;
                width   : 100%;
                margin  : 0px 0px 20px 0px;

                &:last-child
                {
                    margin:0px;
                }
            }
        }
        & > .player
        {
            display : block;
            position: relative;
            width   : 100%;
            margin  : 0px 0px 30px 0px;

            & > .head
            {
                display              : block;
                position             : relative;
                width                : 100%;
                box-sizing           : border-box;
                -webkit-box-sizing   : border-box;
                border-radius        : 10px;
                -webkit-border-radius: 10px;
                background           : #1E1E1E;
                height               : 50px;
                line-height          : 50px;
                padding              : 0px 20px;
                font-size            : 14px;
                margin               : 0px 0px 20px 0px;
            }
            & > .list
            {
                display   : block;
                position  : relative;
                width     : 100%;
                text-align: center;

                & .box
                {
                    display : block;
                    position: relative;
                    float   : left;
                    width   : 60px;
                    margin  : 0px 10px 16px 10px;
                    height  : 104px;

                    & > .image
                    {
                        display              : block;
                        position             : relative;
                        width                : 60px;
                        height               : 60px;
                        background-color     : #494949;
                        background-repeat    : no-repeat !important;
                        background-position  : 50% 50% !important;
                        background-size      : cover !important;
                        border-radius        : 50%;
                        -webkit-border-radius: 50%;
                        margin               : 0px 0px 8px 0px;

                        & > i
                        {
                            display    : block;
                            position   : absolute;
                            width      : 20px;
                            height     : 20px;
                            line-height: 20px;
                            font-size  : 20px;
                            text-align : center;
                            top        : calc(50% - 10px);
                            left       : calc(50% - 10px);
                        }
                        & > .remove
                        {
                            display : block;
                            position: absolute;
                            width   : 24px;
                            height  : 24px;
                            top     : -4px;
                            right   : -4px;
                            z-index : 1;
                            cursor  : pointer;

                            & > i
                            {
                                display    : block;
                                position   : absolute;
                                width      : 24px;
                                height     : 24px;
                                line-height: 24px;
                                font-size  : 24px;
                                text-align : center;
                                top        : 0px;
                                left       : 0px;
                            }
                        }
                    }
                    & > .name
                    {
                        display    : block;
                        position   : relative;
                        width      : 100%;
                        font-size  : 14px;
                        line-height: 18px;
                        height     : 36px;
                        overflow   : hidden;
                    }
                }
                & .add
                {
                    display : block;
                    position: relative;
                    float   : left;
                    width   : 60px;
                    margin  : 0px 10px 16px 10px;
                    height  : 104px;
                    cursor  : pointer;

                    & > span
                    {
                        display              : block;
                        position             : relative;
                        width                : 60px;
                        height               : 60px;
                        border-radius        : 50%;
                        -webkit-border-radius: 50%;
                        background           : #131313;
                        box-sizing           : border-box;
                        -webkit-box-sizing   : border-box;
                        border               : solid 1px #ffffff;

                        & > i
                        {
                            display    : block;
                            position   : absolute;
                            width      : 20px;
                            height     : 20px;
                            line-height: 20px;
                            font-size  : 20px;
                            top        : calc(50% - 10px);
                            left       : calc(50% - 10px);
                        }
                    }
                }
            }
        }
        & > .submit
        {
            display : block;
            position: relative;
            width   : 100%;
        }
    }
}
.player-pop
{
    display                : flex;
    justify-content        : center;
    align-items            : center;
    position               : fixed;
    width                  : 100%;
    height                 : 100%;
    top                    : 0;
    left                   : 0;
    box-sizing             : border-box;
    -webkit-box-sizing     : border-box;
    padding                : 24px;
    background             : rgba(255,255,255,0.1);
    backdrop-filter        : blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index                : 999;

    & > .playercover
    {
        display              : block;
        position             : relative;
        width                : 100%;
        max-width            : 360px;
        height               : 350px;
        background           : #111111;
        border-radius        : 10px;
        -webkit-border-radius: 10px;
        box-sizing           : border-box;
        -webkit-box-sizing   : border-box;
        padding              : 12px;

        & > .search
        {
            display           : block;
            position          : relative;
            width             : 100%;
            overflow          : hidden;
            margin            : 0px 0px 12px 0px;
            transition        : all 0.2s ease;
            -webkit-transition: all 0.2s ease;

            &.loading
            {
                opacity       : 0.4;
                pointer-events: none;
            }
            & > div
            {
                display : block;
                position: relative;
                float   : left;
                width   : calc(100% - 62px);
            }
            & > span
            {
                display : block;
                position: relative;
                float   : right;
                width   : 50px;
            }
        }
        & > .list
        {
            display           : block;
            position          : relative;
            width             : 100%;
            height            : calc(100% - 62px - 62px);
            overflow-y        : auto;
            margin            : 0px 0px 12px 0px;
            transition        : all 0.2s ease;
            -webkit-transition: all 0.2s ease;

            &.loading
            {
                opacity       : 0.4;
                pointer-events: none;
            }
            &::-webkit-scrollbar
            {
                display: none;
                padding: 0px;
            }
            & > .empty
            {
                display              : flex;
                justify-content      : center;
                align-items          : center;
                position             : relative;
                width                : 100%;
                height               : 200px;
                text-align           : center;
                background           : #000000;
                border-radius        : 10px;
                -webkit-border-radius: 10px;

                & > span
                {
                    display  : block;
                    position : relative;
                    width    : 100%;
                    font-size: 12px;
                    color    : #494949;
                }
            }
            & .row
            {
                display              : block;
                position             : relative;
                width                : 100%;
                box-sizing           : border-box;
                -webkit-box-sizing   : border-box;
                padding              : 14px;
                overflow             : hidden;
                background           : #000000;
                border-radius        : 10px;
                -webkit-border-radius: 10px;
                margin               : 0px 0px 6px 0px;
                cursor               : pointer;

                &:last-child
                {
                    margin:0px;
                }
                & > .image
                {
                    display              : block;
                    position             : relative;
                    width                : 32px;
                    height               : 32px;
                    float                : left;
                    border-radius        : 50%;
                    -webkit-border-radius: 50%;
                    background-color     : #494949;
                    background-repeat    : no-repeat !important;
                    background-position  : 50% 50% !important;
                    background-size      : cover !important;
                    margin               : 0px 12px 0px 0px;
                }
                & > .name
                {
                    display    : block;
                    position   : relative;
                    float      : left;
                    width      : calc(100% - 44px - 40px);
                    overflow   : hidden;
                    height     : 32px;
                    line-height: 32px;
                    font-size  : 12px;
                }
                & > .star
                {
                    display : block;
                    position: absolute;
                    width   : 16px;
                    height  : 16px;
                    top     : calc(50% - 8px);
                    right   : 14px;

                    & > i
                    {
                        display    : block;
                        position   : relative;
                        width      : 16px;
                        line-height: 16px;
                        height     : 16px;
                        font-size  : 16px;
                        color      : #EC3049;
                    }
                }
            }
        }
        & > .button
        {
            display : block;
            position: relative;
            width   : 100%;
        }
    }
}